* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
:root {
  --text-white: #fff;
  --main-bg-color: #fff;
  --text-color: #050505;
  --icon-bg-color: #f5f5f5;
  --icon-color: #414141;
  --search-bg: #868e991a;
  --active-color: #0000000a;
  --border-color: #e5e5e5;
  --message-icon-color: #0099ff;
  --sidebar-bg-color: #a96ae4;
  --friend-bg-hover-color: #754cd6;

  --useful-bg-color: #0008ff1a;

  --user-message-bg: #0084ff;
  --fd-message-bg: #e5e5e5;
  --user-img-message-bg: #0084ff;
  --fd-img-message-bg: #0084ff;
  --user-message-color: #fff;
  --fd-message-color: #050505;

  --image-border-color: rgb(155, 153, 153);
  --active-icon-color: #5ad539;
  --hover-color: #bcbcc091;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
