* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --text-white: #fff;
  --main-bg-color: #fff;
  --text-color: #050505;
  --icon-bg-color: #f5f5f5;
  --icon-color: #414141;
  --search-bg: #eff2f61a;
  --current-fd-bg-color: #6b2ca5;
  --border-color: #e5e5e5;
  --message-icon-color: #0099ff;
  --friend-last-message-color: rgb(222, 202, 177);
  --header-color: #bb76fc;
  --unseen-received-msg-bg-color: #1d10aa;
  --header-bg-color: #212121;
  --sidebar-bg-color: #8639ce;
  --small-view-border-bg-color: rgb(143, 13, 143);
  --friend-bg-hover-color: #0277bd;
  --friend-info-bg-color: #ffde03;
  // --message-info-border: #8d3cda;

  --user-message-bg-color: #8d3cda;
  --fd-message-bg-color: #e5e5e5;
  --user-message-color: #fff;
  --fd-message-color: #050505;

  --image-border-color: rgb(155, 153, 153);
  --active-icon-color: #5ad539;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
