.friends {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  small {
    color: var(--friend-last-message-color);
  }
  .hover-friend.active {
    background-color: var(--current-fd-bg-color);
  }
  .hover-friend {
    cursor: pointer;
    &:hover {
      background-color: var(--friend-bg-hover-color);
    }
    .friend {
      display: flex;
      width: 100%;
      padding: 7px 15px;
      .friend-image {
        .image {
          margin-right: 8px;
          position: relative;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid var(--text-color);
          }
          .active-icon {
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: var(--active-icon-color);
            right: -2px;
            bottom: 6px;
          }
        }
      }
      .friend-name-seen {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .friend-name {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          h4.unseen_message {
            font-weight: 700 !important;
          }
          h4 {
            color: var(--text-color);
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 4px;
          }
          .msg-time {
            font-size: 12px;

            span.unseen_message {
              font-weight: 700 !important;
            }
            span {
              color: var(--text-color);
            }
          }
        }
        .seen-unseen-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 15px;
            height: 15px;
            border-radius: 50%;
          }
          .unseen,
          .delivered {
            color: var(--text-color);
          }
          .seen-icon {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: var(--unseen-received-msg-bg-color);
          }
        }
      }
    }
  }
}

.last-seen {
  display: flex;
  margin-left: 10px;
}

.last-seen-text {
  margin-right: 5px;
  font-size: 10px;
}
