.message-box {
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    overflow: hidden;
  }

  .friend-connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--text-color);
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    h3 {
      margin-top: 10px;
    }
  }

  .user-message {
    float: right;

    .user-text {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: column;
      img.img,
      span {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: 3px 0px 0px 0px;
        color: var(--text-color);
      }
      .message-text {
        word-wrap: break-word;
        max-width: 340px;
        background-color: var(--user-message-bg-color);
        color: var(--user-message-color);
        text-align: end;
        padding: 10px;
        border-radius: 10px;
        img {
          width: 220px;
          height: 270px;
          margin-right: 0px;
          border-radius: 5px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
    .time {
      text-align: end;
      padding: 5px 0px;
      color: #727272d9;
      font-size: 12px;
    }
  }
  .fd-message {
    float: left;
    .fd-text {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      .message-text {
        word-wrap: break-word;
        max-width: 340px;
        background-color: var(--fd-message-bg-color);
        color: var(--fd-message-color);
        text-align: start;
        border-radius: 10px;
        img {
          width: 220px;
          height: 270px;
          margin-right: 0px;
          border-radius: 5px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }
  }
}
.image-message {
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .message-text {
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
  }
  .time {
    padding: 5px 0px;
    color: #727272d9;
    font-size: 12px;
  }
}
.typing-message {
  padding: 0px 10px;
}

.type {
  display: flex;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .type-theme {
    padding: 8px 0px;
    color: #727272d9;
    font-size: 14px;
  }
}

.user-message,
.fd-message {
  width: 51%;
}

.user-message {
  display: flex;
  flex-direction: column;
  float: right;
  width: 100%;
}

.user-text {
  float: right;
  width: 320px;
}

.m-fd {
  display: flex;
}
